In [2]:
import pandas as pd
from utilities.load_authors_data import load_authors_data

path = "/Users/sromdhani/VeevaDataScientist/PopulationSegmentation/data/pan15/english/"
df_authors = load_authors_data(path)

In [3]:
df_authors.head()

,gender,age_group,extraverted,stable,agreeable,conscientious,open,tweets
user1,M,50-XX,0.4,0.3,0.5,0.2,0.3\n,"""Fun is the enjoyment of pleasure""\t\t @userna..."
user1007,F,25-34,0.5,0.1,0.1,0.1,0.1\n,I just became the mayor of Porta Romana on @us...
user103,M,18-24,0.1,0.2,0.1,0.1,0.1\n,@username @username @username @username #IfMy...
user104,M,18-24,0.1,0.2,0.1,0.1,0.1\n,What You're Saying With Your Facial Hair http:...
user112,F,18-24,-0.1,0.3,0.2,0.0,0.3\n,@username sactan ne haber?\t\t Aurora borealis...

In [4]:
df_authors.describe()

,gender,age_group,extraverted,stable,agreeable,conscientious,open,tweets
count,152,152,152,152,152,152,152,152
unique,2,4,9,9,9,8,7,152
top,M,25-34,0.1,0.2,0.2,0.1,0.1\n,I wish we could talk forever.\t\t 100000 thing...
freq,76,60,41,37,46,38,47,1